// Variables
@import "custom_variables";

.form-control {
    color: $color-primary-text-input;
    font-size: 1rem!important;
}

.form-control,
.is-focused .form-control {
    color: $color-primary-text-input;
    // background-image: linear-gradient(
    //         to top,
    //         $shadow-transition 2px,
    //         $shadow-dark 2px
    //     ),
    //     linear-gradient(to top, $shadow-light 1px, $shadow-dark 1px);
}

.inline-field input,
.inline-field label {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-width {
    width: inherit;
}

.pretty-form {
    direction: rtl;
}

.pretty-input {
    width: 100%;
}

.form-height {
    height: 100%;
}

.form-logo {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.required {
    font-weight: bold;
}

.required::before {
    content: "\002A";
    margin-right: 6px;
    color:red;
}

.form_label {
    font-weight: bold;
    font-size: 1.1rem!important;
    margin-bottom: 0;
}
