// Variables
@import "custom_variables";

.button_link {
    text-decoration: none;
    display: block;
}

.bg_red {
    background-color: crimson;
    color: white;
}

.bg_green {
    background-color: rgb(25, 173, 99);
    color: white;
}