// Variables
@import "custom_variables";

.navbar-mini-text {
    font-size: 1rem;
}

.navbar-section-text {
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: block;
    white-space: normal;
}

.navbar-content {
    overflow: hidden;
}

.nav-link {
    color: $white !important;
}

.nav-link .white {
    color: $white !important;
}

.container-equal-heights {
    overflow: hidden;
}

.tile-equal-heights {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.navbar {
    background-color: $color-primary-bg!important;
    color: white!important;
}
